<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>第一个页面测试</h1>
    <p>第一个页面测试</p>
  </body>
  <!-- 获取ip -->
<!--   <script type="text/javascript" src="http://www.coding123.net/getip.ashx?js=1"></script>
	<script>
		alert(ip)
	</script> -->
  <script type="text/javascript">
  	// var fun=function(){
  	// 	alert('ssss')
  	// }
  	// fun();

  	function box(obj){         
        obj.name='Lee';
        var obj = new Object();    
        obj.name='kkk';
    }
    var obj = new Object();
    box(obj);
    console.log(obj.name);
    function test() {
    for (let i = 0; i < 5; i++) {
        console.log(i);
    }
     var [a, b, c] = ['a', 'b', 'c'];
    console.log(a+b+c)
}
test();
  </script>
</html>
