<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>第一个页面测试</h1>
    <p>第一个页面测试</p>
  </body>
  <script type="text/javascript">
  	// var fun=function(){
  	// 	alert('ssss')
  	// }
  	// fun();

  	function box(obj){         
        obj.name='Lee';
        var obj = new Object();    
        obj.name='kkk';
    }
    var obj = new Object();
    box(obj);
    console.log(obj.name);
  </script>
</html>
